<html>
<head>
	<meta http-equiv="Content-Type" content="application/html; charset=utf-8" />
        <title>{__title__}</title>
</head>

<body>
{__CURRENT_THEME_PATH__}<br>
{__INSTANCES_PATH__}<br>
{__CURRENT_INSTANCE_PATH__}<br>
{__INSTANCE_UI_PATH__}<br>
{__SITE_UI__}<br>


<div class="top_menu">
		{__ui_structure::top_menu()__}
	</div>
	<div class="sub_menu">
		{__ui_structure::sub_menu()__}
	</div>
	<div class="trunc_menu">
		{__ui_structure::trunc_menu()__}
	</div>
	<div class="content">
		{__content__}
	</div>
</body>
</html>
