.3d{background-image: url(3d.png) !important;}
.access{background-image: url(access.png) !important;}
.acroread{background-image: url(acroread.png) !important;}
.add{background-image: url(add.png) !important;}
.back{background-image: url(back.png) !important;}
.business{background-image: url(business.png) !important;}
.cache{background-image: url(cache.png) !important;}
.calc{background-image: url(calc.png) !important;}
.camera{background-image: url(camera.png) !important;}
.clean{background-image: url(clean.png) !important;}
.clock{background-image: url(clock.png) !important;}
.colors{background-image: url(colors.png) !important;}
.cookie{background-image: url(cookie.png) !important;}
.database{background-image: url(database.png) !important;}
.date{background-image: url(date.png) !important;}
.display{background-image: url(display.png) !important;}
.download_manager{background-image: url(download_manager.png) !important;}
.down{background-image: url(down.png) !important;}
.email{background-image: url(email.png) !important;}
.enhanced_browsing{background-image: url(enhanced_browsing.png) !important;}
.error{background-image: url(error.png) !important;}
.Explorer{background-image: url(Explorer.png) !important;}
.find{background-image: url(find.png) !important;}
.firewall{background-image: url(firewall.png) !important;}
.flag{background-image: url(flag.png) !important;}
.flash{background-image: url(flash.png) !important;}
.fonts{background-image: url(fonts.png) !important;}
.forward{background-image: url(forward.png) !important;}
.gpg{background-image: url(gpg.png) !important;}
.history{background-image: url(history.png) !important;}
.home{background-image: url(home.png) !important;}
.hwinfo{background-image: url(hwinfo.png) !important;}
.idea{background-image: url(idea.png) !important;}
.important{background-image: url(important.png) !important;}
.internet{background-image: url(internet.png) !important;}
.java{background-image: url(java.png) !important;}
.logout{background-image: url(logout.png) !important;}
.mac{background-image: url(mac.png) !important;}
.mail{background-image: url(mail.png) !important;}
.media-player{background-image: url(media-player.png) !important;}
.messenger{background-image: url(messenger.png) !important;}
.mouse{background-image: url(mouse.png) !important;}
.movies{background-image: url(movies.png) !important;}
.mozilla{background-image: url(mozilla.png) !important;}
.mp3{background-image: url(mp3.png) !important;}
.msn{background-image: url(msn.png) !important;}
.my_documents{background-image: url(my_documents.png) !important;}
.mymac{background-image: url(mymac.png) !important;}
.network{background-image: url(network.png) !important;}
.next{background-image: url(next.png) !important;}
.no3D{background-image: url(no3D.png) !important;}
.no{background-image: url(no.png) !important;}
.ok{background-image: url(ok.png) !important;}
.password{background-image: url(password.png) !important;}
.previous{background-image: url(previous.png) !important;}
.rebuild{background-image: url(rebuild.png) !important;}
.reload{background-image: url(reload.png) !important;}
.search{background-image: url(search.png) !important;}
.style{background-image: url(style.png) !important;}
.terminal{background-image: url(terminal.png) !important;}
.tux{background-image: url(tux.png) !important;}
.unlock{background-image: url(unlock.png) !important;}
.up{background-image: url(up.png) !important;}
.usb{background-image: url(usb.png) !important;}
.utilities{background-image: url(utilities.png) !important;}
.wizard{background-image: url(wizard.png) !important;}
