body, td, p, input, textarea { font-family: Lucida Grande, Tahoma, Arial, serif; font-size: 10pt; color: #000000; backgroud-color: #000000;}
.error { color: cc0000; }
.error input, .error textarea { border: 1px solid #cc0000; }
.big { width: 100%; }
.mid { width: 75%; }
.small { width: 49%; }
.bordered {border: 1px solid #dddddd;}

a, a:visited { text-decoration: underline; color: blue; cursor: hand; }
a:hover { text-decoration: none; color: blue; }

table.clear, table.clear tr td, #content table.clear, #content table.clear tr td {border-width: 0px; padding: 0; margin: 0;}
table.clear_padded, table.clear_padded tr td, #content table.clear_padded, #content table.clear_padded tr td {border-width: 0px; margin: 0;}
.padded, .padded tr td, .clear .padded td { padding: 6px; }

/* вывод списка страниц */
.pager { margin-top: 5px; margin-bottom: 5px;}
.pager a, .pager a:visited, .pager .current, a.button, a.button:visited {
	color: #666666;
	padding: 1px 6px 1px 6px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	margin: 3px;
}

.pager a, .pager a:visited, a.button, a.button:visited {
	border: 1px solid #cccccc;
	background-color: #f8f8f8;
}
.pager a:hover, a.button:hover {color: #000000; background-color: #eeeeee;}

/*  чередование строк */
.odd, .odd td, td.odd { background-color: #f0f0f0; }
.even, .even td, td.even {}

table { }
td { padding: 5px; }

.green { color: green; }
.red { color: red; }


p { margin: 0 0 10px 0; padding: 0; }

.nosized { width: 0; height: 0; }

/* формы */
form {padding: 0; margin: 0;}

.form { width: 450px; border: none; }
.form td {  }
.form td.submit { text-align: center; }
.mutliselectinput { }
ul.models_list { margin: 0; }
ul.models_list li { list-style: none; }

.scroll {overflow: auto;}
.nowrap { white-space: nowrap; }

.hover, .models_list table:hover, .hover td, .models_list table:hover td { background-color: #ffffd8; }


/* Nifty Corners */
.rtop,.rbottom{display:block}
.rtop *,.rbottom *{display:block;height: 1px;overflow: hidden}
.r1{margin: 0 5px}
.r2{margin: 0 3px}
.r3{margin: 0 2px}
.r4{margin: 0 1px;height: 2px}

.rs1{margin: 0 2px}
.rs2{margin: 0 1px}
/* // Nifty Corners */

img.auto_preview {cursor: hand;}

.cloud {}
.tag { margin-right: 15px; padding: 3px; background-color: #f0f0f0; }
.tag .plus { border: 1px solid #cccccc;	background-color: #f8f8f8; color: #333333; text-decoration: none; padding: 1px 3px 1px 3px; }
.tag:hover { background-color: #dedede; }
.tag_size_1 { font-size: 100%; }
.tag_size_2 { font-size: 120%; }
.tag_size_3 { font-size: 140%; }
.tag_size_4 { font-size: 160%; }
.tag_size_5 { font-size: 200%; }

a.termin_link, a.termin_link:visited, a.termin_link:hover { text-decoration: none; border-width: 0 0 1px 0; border-style: dotted; border-color: blue; }
a.termin_link:after { content: "?"; vertical-align: text-top; color: green; font-size: 6px; }
.termin { background-color: #f0f0f0; border: 1px solid #d0d0d0; padding: 5px; cursor: hand; }