<div id="market_latest_long" class="market_latest_long">
<h1><a href="/products/item_{__m_latest_l_product_id__}.html">{__m_latest_l_title__}</a></h1>
<!--
<a class="group" href="/products/group/{__group_id__}/">{__str_group__}</a><br>
<a class="title" href="/products/item_{__m_latest_l_product_id__}.html">{__title__}</a><br>
<a class="type" href="/products/type/{__type_id__}/">{__str_type__}</a><br>
<a class="label" href="/products/label/{__collection_id__}/">{__str_collection__}</a><br>
-->
<p>{__description__}</p>
<p>{__m_latest_l_text__}</p>
{__set(#re = 'empty')__}  
{__(apply(/records)__}

{__(if($p_collection != #re)__}
{__set(#re = $p_collection)__}  
<div id="m_latest_long_collection" class="m_latest_long_collection">
{__echo(#re)__}
</div>
{__if)__}

<div id="m_latest_long_product" class="m_latest_long_product">
<a class="item" id="item"  href="/products/item_{__m_latest_ls_product_id__}.html">{__p_title__}</a><br>
<a class="group" id="group"  href="/products/group/{__p_group_id__}">{__p_group__}</a><br>
{__p_type__}<br>
</div>
{__apply)__}
{__(if(/previous)__}
<div>
<a href="/incoming/issue/{__/previous/id__}/">Предыдущее</a>
</div>
{__if)__}
<div>
<a href="/incoming/archive/">Архив</a>
</div>
{__(if(/next)__}
<div>
<a href="/incoming/issue/{__/next/id__}/">Следующее</a>
</div>
{__if)__}
</div>
