<div id="market_latest_long" class="market_latest_long">
[<a href="/ui/market_latest_long/rss.do">rss</a>]<br>
<h1><a href="/products/item_{__m_latest_l_product_id__}.html">{__m_latest_l_title__}</a></h1>
{__php::date('d.m.Y',strtotime($m_latest_l_issue_datetime))__}<br>
<div class="top_block_wrap">
{__(if($picture)__}
<div class="item_picture" id="item_picture"><a href="/products/item_{__m_latest_l_product_id__}.html"><img src="{__/storage__}{__picture__}"  title="{__title__}"></a></div>
{__if)__}
{__(if(/m_latest_l_text)__} <p>{__m_latest_l_text__}</p> {__if)__}
<p>{__php::nl2br($description)__}</p>
</div>

{__set(#re = 'empty')__}  
{__(apply(/records)__}

{__(if($p_collection != #re)__}
{__set(#re = $p_collection)__}  
<div id="m_latest_long_collection" class="m_latest_long_collection">
{__echo(#re)__}
</div>
{__if)__}
<div id="m_latest_long_product" class="m_latest_long_product">
		{__(if($preview)__}
		<div class="item_preview" id="item_preview"><a href="/products/item_{__m_latest_ls_product_id__}.html"><img src="{__/storage__}{__preview__}" title="{__p_title__}"/></a></div>
		{__if)__}


<a class="group" id="group"  href="/products/group/{__p_group_id__}/">{__p_group__}</a><br>
<a class="item" id="item"  href="/products/item_{__m_latest_ls_product_id__}.html">{__p_title__}</a><br>
{__p_type__}<br>
		<div id="add2cartwrap" class="add2cartwrap"><div title="Add to cart" is="add2cart" class="add2cart" cid="{__m_latest_ls_product_id__}">Заказать: <img src="/ico/silk/cart_add.png" border="0"  hspace="5"/></div></div>
</div>
{__apply)__}
<div id="market_latest_long_b_wrap" class="market_latest_long_b_wrap">
{__(if(/previous)__}
<div class="previous_label"><a href="/incoming/issue/{__/previous/id__}/">Предыдущее {__php::date('d.m.Y',strtotime(/previous/m_latest_l_issue_datetime))__}</a></div>
{__if)__}
<div class="archive_label">
<a href="/incoming/archive/">Архив</a>
</div>
{__(if(/next)__}
<div class="next_label">
<a href="/incoming/issue/{__/next/id__}/">Следующее {__php::date('d.m.Y',strtotime(/next/m_latest_l_issue_datetime))__}</a>
</div>
{__if)__}
</div>
</div>
