.market_latest_long{
font-family:Verdana;
font-size:11px;
margin-top:20px;
border:1px dotted;
height:100%;
padding:10px;
}

#market_latest_long h1{
font-size:12px;
}

#market_latest_long a{
border-bottom:1px dashed;
color:#666;
}

#market_latest_long .m_latest_long_collection{
background-color:#CCC;
padding:3px;
}

.m_latest_long_product{
margin-bottom:12px;
padding:5px;
border:1px solid #666;
}

#m_latest_long_product .item{
font-size:10px;
font-weight:bold;
color:#666;
border-bottom:1px dashed;
}

#m_latest_long_product .group{
font-size:9px;
color:#666;
border-bottom:1px dashed;
}


.market_latest_long_b_wrap{
height:30px;
}

#market_latest_long .next_label{
float:right;
}

#market_latest_long .previous_label{
float:left;
}

#market_latest_long .archive_label{
float:left;
width:70%;
text-align:center;
}
