.market_latest_long{
font-family:Verdana;
font-size:11px;
margin-top:20px;
border:1px dotted;
height:100%;
padding:10px;
}

#market_latest_long h1{
font-size:12px;
}

#market_latest_long a{
border-bottom:1px dashed;
color:#666;
}

#market_latest_long .m_latest_long_collection{
background-color:#CCC;
padding:3px;
}

.m_latest_long_product{
margin-bottom:12px;
padding:5px;
border:1px solid #666;
height:100%;
min-height:110px;
}

#m_latest_long_product .item{
font-size:10px;
font-weight:bold;
color:#666;
border-bottom:1px dashed;
}

#m_latest_long_product .group{
font-size:9px;
color:#666;
border-bottom:1px dashed;
}


.market_latest_long_b_wrap{
height:30px;
}

#market_latest_long .next_label{
float:right;
}

#market_latest_long .previous_label{
float:left;
}

#market_latest_long .archive_label{
float:left;
width:40%;
text-align:center;
}

#market_latest_long .item_picture{
border:1px solid #666;
float:left;
margin-right:20px;
margin-bottom:10px;
margin-top:10px;
padding:0px;
}

#item_picture img{
padding:0px;
margin:0px;
border:0px;
display:block;
}

#m_latest_long_product .item_preview{
border:1px solid #666;
float:left;
margin-right:20px;
margin-bottom:20px;
margin-top:5px;
padding:0px;
}

#item_preview img{
padding:0px;
margin:0px;
border:0px;
display:block;
}
#market_latest_long .top_block_wrap{
height:100%;
min-height:280px;
}


#m_latest_long_product .add2cartwrap{
cursor:pointer;
padding:0px;
height:30px;
margin-top:20px;
}

#add2cartwrap .add2cart{
float:right;
border:1px dotted #CCC;
cursor:pointer;
padding:5px;
}
#add2cart img{
padding:0px;
margin:0px;
background-color:#ccc;
}
