

<div id="guestbook_form" class="guestbook_form">

<form method="POST" name="guestbook_form" id="guestbook_form" enctype="multipart/form-data" action="/ui/guestbook/save_record.html">
<div>
	<div class="">
		Ваше имя<br/>
		<input type="text" id="gb_author_name" title="Ваше имя" value="" name="gb_author_name" class="req input">
	</div>
	<div>
		Ваш имайл<br/>
		<input type="text" id="gb_author_email" title="Ваше имя" value="" name="gb_author_email" class="input">
	</div> 
	<div class="">
		Ваш город<br/>
		<input type="text" id="gb_author_location" title="Ваше имя" value="" name="gb_author_location" class="req input">
	</div>
	<div class="">
		ВашеЕ мнение<br/>
		<textarea rows="15" cols="30" id="gb_record" title="Ваше имя" value="" name="gb_record" class="req guestbook_form_record textarea"></textarea>
	</div>
	
	<input type="button" id="guestbook_btn" class="submit" value="Отправить">
</div>

</form>

																																																										</form>
</div>



<script>
function get_content(){
	Ext.Ajax.request({
		url: '/ui/guestbook/items_content.html',
		success: function(response, opts) {
			Ext.get('guestbook_items').dom.innerHTML = response.responseText;
		},
		failure: function(response, opts) {
			console.log('server-side failure with status code ' + response.status);
		}
	});
}


function reset_fields(){
	var els = Ext.select('.input');
	els.each(function(el){
		el.dom.value='';
	});

	var els = Ext.select('.textarea');
	els.each(function(el){
		el.dom.value='';
	});
}


var el = Ext.get('guestbook_btn');
el.on('click', function(e,t) {
if ( Ext.get('gb_author_name').getValue() != '' && Ext.get('gb_author_location').getValue() != '' && Ext.get('gb_record').getValue() != ''){
var req = 'gb_author_email=' + Ext.get('gb_author_email').getValue() + '&gb_author_name=' + Ext.get('gb_author_name').getValue() + '&gb_author_location=' + Ext.get('gb_author_location').getValue() + '&gb_record=' + Ext.get('gb_record').getValue();
	Ext.Ajax.request({
		url: '/ui/guestbook/save_record.html?' + req,
		form: 'guestbook_form',
		success: function(response, opts) {
			reset_fields();
			get_content();	
		},
		failure: function(response, opts) {
			console.log('server-side failure with status code ' + response.status);
		}
	});
}else{
var els = Ext.select('.req');
els.each(function(el){
	var prt = el.parent();
	if(el.getValue() == ''){
		prt.addClass('error');
	//	alert(el.getValue());
		error = true;
	}else{
		prt.removeClass('error');
	}
});
}
	// e is a normalized event object (Ext.EventObject)
	// t the target that was clicked, this is an Ext.Element.
	// this also points to t.			
});
document.on('load', get_content());
</script>
