.guestbook{
border:1px dotted;
/*height:100%;*/
padding:20px;
margin-top:10px;
font-family:Verdana;
font-size:11px;
}

#guestbook h1{
font-size:12px;
}

.guestbook_item{
 padding:5px;
 margin-top:10px;
 border-bottom:1px dotted #CCC;
}

.guestbook_item_header{
padding:5px;
font-weight:bold;
}

.guestbook_item_body{
padding:5px;
}


.guestbook_form_record{
width:300px;
height:100px;
}

.error{
color:red;
}

.guestbook_form{
margin-top:50px;
margin-left:20px;
margin-bottom:20px;
}

.nwrecwrp{
text-align:right;
}

#nwrecwrp .newrecord{
border-bottom:1px dotted #ccc;
width:100px;
cursor:pointer;
color:#000;
}

.frmwrap{
border:1px solid #CCC;
background:#fff;
position:absolute;
width:400px;
height:250px;
top:200px;
left:400px;
font-family:Verdana,Arial;
font-size:10px;
padding:10px;
z-index:5000;
}

.closewrap{
width:100%;
text-align:right;
}

#closewrap .closebt{
width:20px;
border-bottom:1px dotted #000;
font-size:10px;
cursor:pointer;
font-weight:bold;
}

#guestbook .spinner{
background-image:url("/images/large-loading.gif");
background-position:center;
background-repeat:no-repeat;
background-color:#FFF;
position:fixed;
width:120px;
height:65px;
border:1px dotted #000;
padding:5px;
text-align:center;
margin-left:auto;
margin-right:auto;
top:+100px;
z-index:10000;
}

#AlertBox{
    background:#F5F5DC;
    padding: 20px;
    width:500px;
    border:1px dotted #000;
    color:#494848;
    font-family:Verdana;
    position: fixed;
    z-index: 1000000;
}

#AlertBox p{
    font-size:11px;
    margin: 0;
}

#AlertBox p.icon{
    padding-left:90px;
    background-position: 10px center;
    background-repeat:  no-repeat;
    min-height: 48px;
}


#AlertBox p b{
    font-size:15px;
    display:block;
}


#AlertBox .closeBox{
    cursor:pointer;
    font-size:14px;
    font-weight:bold;
    padding:2px 5px;
    position:absolute;
    right:6px;
    top:5px;
}

#AlertBox .closeBox:hover {
    background-color: #eee;
}

#frmwrap .field_name{
width:150px;
position:relative;
float:left;
color:#000;
}


#frmwrap .field_name_error{
width:150px;
position:relative;
float:left;
color:#F00;
}

#frmwrap .field_error{
background-color:#FFDAb9;
border:1px solid #ccc;
margin:3px;
}

#frmwrap .field{
background-color:#FFF;
border:1px solid #ccc;
margin:3px;
}

#frmwrap textarea{
width:200px;
height:100px;
i}

#frmwrap .sbbt{
width:105px;
height:25px;
font-size:12px;
vertical-align:middle;
padding:0px;
margin-left:150px;
}
