<div class="cart_ui">
{__(if(!empty(/records))__}
<form id="cart_form" onsubmit="return false">
<table width="100%" border="1">
{__set(#cost_total = 0)__}
{__(apply(/records)__}
	<tr id="cart_record_{__id__}">
		<td width="36">{__str_type__}</td>
		<td>{__title__}</td>
		<td width="120">
			<input type="text" name="count[{__id__}]" value="{__count__}" size="2" style="text-align: right"> x {__str_cost__}
		</td>
		<td width="48"> = {__echo($count * $str_cost)__}</td>
		<td width="24">
			<a href="javascript:void(0)" title="Remove from cart" class="delCart" cid="{__id__}"><img src="/ico/silk/cart_delete.png" border="0" hspace="2"/></a>
		</td>
	</tr>
	{__set(#cost_total = #cost_total + $count * $str_cost)__}
{__apply)__}
	<tr>
		<td colspan="2">&nbsp;</td>
		<td align="center"><input type="button" value="Пересчитать" class="cart_btt_recalc"/></td>
		<td><div id="cart_form_total">{__#cost_total__}</div></td>
		<td>&nbsp;</td>
	</tr>
</table>
</form>
{__(if(/is_logged)__}
<a href="/order/">Оформить заказ</a>
{__else__}
Для продолжения, Вам необходимо <a href="/registration/">зарегистрироваться</a>
{__if)__}
{__else__}
<center>Корзина пуста</center>
{__if)__}
</div>
