<div class="basket_body" id="basket_body">
<h1>Выбрано:</h1>
<table border="0" cellpadding="2" cellspacing="0" width="100%">
{__(if(!empty(/records))__}
{__set(#cost_total = 0)__}
{__(apply(/records)__}
<tr class="bitem" id="bitem">
<td id="irem" class="irem"><span title="Удалить" id="iremove" cid="{__id__}" class="iremove"></span></td>
<td id="icount" class="icount">{__count__}</td>
<td id="ix" class="ix">x</td>
<td id="ititle" class="ititle"> <a href="">{__str_type__} {__title__}</a></td>
{__set(#cost_total = #cost_total + $summ)__}
</tr>	
{__apply)__}
<tr>
<td colspan="4">
<div id="ctotal" class="ctotal">На сумму: {__#cost_total__}</div>
</td>
</tr>
<tr>
<td class="olinks" id="olinks"colspan="4">
<a href="/order/">оформить</a> | <a href="/cart/">корзина</a>
</td> 
</tr>
{__else__}
<tr>
<td>
список пуст
</td>
</tr>
{__if)__}
</table>
</div>
