<div class="market_soon" id="market_soon">
<h1>Скоро в продаже</h1>

<h3>ANDREA BOCELLI<br/>
Cieli Di Toscana</h3>
<p>БИЛЕТЫ</p>
<p>Год выпуска: 2007 "Ciele Di Toscana" - альбом 2007 года итальянского оперного певца - Андреа Бочелли, которого называют тенором номер один. Несмотря на слепоту, музыкант за свою десятилетнюю карьеру стал одним из наиболее запоминающихся голосов современный оперы и поп-музыки. Бочелли одинаково хорошо удается исполнение как классического репертуара, так и поп-баллад.
Романтика, страсть, эмоции - все это можно услышать в его замечательном голосе на представленном Вашему вниманию диске.
</p>
Номер по каталогу: 1773<br />
Год выхода: 2007<br />
Стиль: Classic<br />
Производитель: Universal Music<br />
</div>
