<div id="market_recomendations_short" class="market_recomendations_short">
<h1>RM рекомендует</h1>

<br/>LACRIMOSA - Schattenspiel (2CD)	 Schattenspiel (2CD)
<br/>LACRIMOSA<br/>
<br/>METALLICA - death metall trash	death metall trash
<br/>METALLICA<br/>
<br/>MANDRAGORA SCREAM - Volturna	Volturna
<br/>MANDRAGORA SCREAM<br/>
<br/>RAY CHARLES - 50 Years in Music	50 Years in Music
<br/>RAY CHARLES<br/>
<br/>EDGUY - Fucking With Fire: Live (DVD) + ФУТБОЛКА Live in Moscow	Fucking With Fire: Live (DVD) + ФУТБОЛКА Live in Moscow
<br/>EDGUY<br/>
<br/>EDGUY - Fucking With Fire: Live (DVD)	Fucking With Fire: Live (DVD)
<br/>EDGUY<br/>
<br/>ETERNAL TEARS OF SORROW - Children of the Dark Waters	Children of the Dark Waters
<br/>ETERNAL TEARS OF SORROW<br/>
<br/>BOOZED - Bad Seed	Bad Seed
<br/>BOOZED<br/>
<br/>REPLICA - Languages Of Decay	Languages Of Decay
<br/>REPLICA<br/>

</div>
