<div class="registr" id="registr">
	<h1>Форма логина</h1>
	<table><tbody><tr>
	<td>E-mail: </td>
	<td class=""><input type="Text" value="" title="e-mail" name="l"></td>
	<td>Пароль:</td>
	<td class=""><input type="password" value="" title="password" name="p"></td>
	<td><input type="submit" class="shortsubmit" value="Войти"></td>
	</tr>
	<tr>
	<td></td>
	<td><a href="/profile/register/">Регистрация</a></td>
	<td></td>
	<td><a onclick="new Ajax.Updater( 'auth', '/profile/remind/ajax/', {'asynchronous':true,'evalScripts':true} ); return false;" href="/profile/remind/">Забыли пароль?</a></td>
	<td></td>
	</tr>
	</tbody></table>
</div>
