<div class="registr" id="registr">
	<h1>Форма логина</h1>
	<table><tbody>
	<tr>
	<td>Q-mail: </td>
	<td class=""><input type="Text" value="" title="e-mail" name="l"></td>
	</tr>	
	<tr>
	<td>W-mail: </td>
	<td class=""><input type="Text" value="" title="e-mail" name="l"></td>
	</tr>	
	<tr>
	<td>E-mail: </td>
	<td class=""><input type="Text" value="" title="e-mail" name="l"></td>
	</tr>	

	<tr>
	<td>R-mail: </td>
	<td class=""><input type="Text" value="" title="e-mail" name="l"></td>
	</tr>	
	<tr>
	<td>T-mail: </td>
	<td class=""><input type="Text" value="" title="e-mail" name="l"></td>
	</tr>	
	<tr>
	<td>Y-mail: </td>
	<td class=""><input type="Text" value="" title="e-mail" name="l"></td>
	</tr>	
	<tr>
	<td><input type="submit" class="shortsubmit" value="Войти"></td>
	</tr>
	</tbody></table>
</div>
