
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="application/html; charset=utf-8" />
	<link href="/min/?f={__(apply(/css_resources)__}/{__echo($.)__}{__(if(@position != @last)__},{__if)__}{__apply)__}" rel="stylesheet" type="text/css" />
	<title>{__title__}</title>
</head>

<body>
<div class="bdy" id="bdy">
<div class="bdy_wrap" class="bdy_wrap">
<div class="dsc">#default kernel template set</div>
		<div class="top_menu" id="top_menu">
		{__(apply(/view_point_1)__}
			{__echo($.)__}
		{__apply)__}
		</div>
		<div class="left_area" id="left_area">
			<div class="sub_menu">
				{__(apply(/view_point_2)__}
					{__echo($.)__}
				{__apply)__}
			</div>
		</div>

		<div class="center_area" id="center_area">
			<div class="trunc_menu" id="trunc_menu">
			{__ui_navigation::trunc_menu()__}
			</div>
			<div class="content">
				{__(apply(/view_point_3)__}
					{__echo($.)__}
				{__apply)__}
			</div>
		</div>
		<div class="right_area" id="right_area">
			<div class="sub_menu">
				{__(apply(/view_point_4)__}
					{__echo($.)__}
				{__apply)__}
			</div>
		</div>
		<div class="bottom_area" id="bottom_area">
			<div>WEB50 LLC 2010. all rights reserved.</div>
		</div>
	</div>
</div>

</body>
</html>
