.catalogue_ui{
}

#catalogue_ui .item{
border:1px dotted #CCC;
margin-bottom:10px;
padding:5px;
height:100%;
}

.itemheader{
margin:0px;
padding:0px:
}

#itemheader .itemlink{
font-size:12px;
color:#666;
border-bottom:1px dashed;
}
.iteminfo{
border:0px solid;
border-bottom:0px;
}

#iteminfo th{
border-right:0px  solid;
border-bottom:0px  solid;
text-align:left;
vertical-align:top;
font-size:11px;
font-weight:bold;
color:#666;
padding:3px;
margin:0px;
}

#iteminfo td{
border-bottom:0px  solid;
color:#000;
text-align:left;
font-weight:normal;
padding:3px;
margin:0px;
}

#iteminfo td a{
border-bottom:1px  dashed;
color:#000;
}


#item .add2cartwrap{
cursor:pointer;
padding:0px;
height:30px;

}

#add2cartwrap .add2cart{
float:right;
border:1px dotted #CCC;
cursor:pointer;
padding:5px;
}
#add2cart img{
padding:0px;
margin:0px;
background-color:#ccc;
}

#item .item_picture{
border:1px solid #666;
float:left;
margin-right:20px;
margin-bottom:20px;
padding:0px;
}

#item_picture img{
padding:0px;
margin:0px;
border:0px;
display:block;
}

#item .item_preview{
border:1px solid #666;
float:left;
margin-right:20px;
margin-bottom:20px;
margin-top:10px;
padding:0px;
}

#item_preview img{
padding:0px;
margin:0px;
border:0px;
display:block;
}

#AlertBox{
    background:#F5F5DC;
    padding: 20px;
    width:500px;
    border:1px dotted #000;
    color:#494848;
    font-family:Verdana;
    position: fixed;
    z-index: 1000000;
}

#AlertBox p{
    font-size:11px;
    margin: 0;
}

#AlertBox p.icon{
    padding-left:90px;
    background-position: 10px center;
    background-repeat:  no-repeat;
    min-height: 48px;
}


#AlertBox p b{
    font-size:15px;
    display:block;
}


#AlertBox .closeBox{
    cursor:pointer;
    font-size:14px;
    font-weight:bold;
    padding:2px 5px;
    position:absolute;
    right:6px;
    top:5px;
}

#AlertBox .closeBox:hover {
    background-color: #eee;
}
