<div class="catalogue_ui" id="catalogue_ui">
{__filters__}
{__search__}
{__pager__}
{__(apply(/records)__}
	<div class="item" id="item">
		<h1 class="itemheader" id="itemheader"><a class="itemlink" id="itemlink" href="item_{__id__}.html">{__str_group__} &laquo;{__title__}&raquo;</a></h1>
		<div id="add2selwrap" class="add2selwrap"> <div title="Add to selected" is="add2sel" class="add2sel" cid="{__id__}">В избранное</div></div>
		<div class="item_preview" id="item_preview">
		{__(if($preview)__}<img src="{__/storage__}{__preview__}" title="{__title__}"/>{__if)__}
		</div>
		<table cellpadding="0" cellspacing="0" id="iteminfo" class="iteminfo">
			<tr>
				<th>{__/UI_LANG/type__}</th>
				<td>
				{__(if(/args/_stype_id > 0)__}
					{__str_type__}
				{__else__}
					<a href="type/{__type_id__}/">{__str_type__}</a>
				{__if)__}
				</td>
			</tr>
			<tr>
				<th>{__/UI_LANG/group__}</th>
				<td>
				{__(if(/args/_sgroup_id > 0)__}
					{__str_group__}
				{__else__}
					<a href="group/{__group_id__}/">{__str_group__}</a>
				{__if)__}
				</td>
			</tr>
			<tr>
				<th>Коллекция:</th>
				<td>
				{__(if(/args/_scollection_id > 0)__}
					{__str_collection__}
				{__else__}
					<a href="label/{__collection_id__}/">{__str_collection__}</a>
				{__if)__}
				</td>
			</tr>
			<tr>
				<th>Стили:</th>
				<td>
					{__set(#styles = preg_split('/,/', $Styles))__}
					{__set(#ids = preg_split('/,/', $StyleIds))__}
					{__(foreach(#ids AS @n => @id)__}
						{__set(#title = #styles[@n])__}
						{__set(#id = @id)__}
						{__(if(/args/_scollection_id > 0)__}
							{__#title__}
						{__else__}
							<a href="style/{__#id__}/">{__#title__}</a>
						{__if)__}{__(if(@position < @last)__}<span>, </span>{__if)__}
					{__foreach)__}
				</td>
			</tr>
			<tr>
				<th>Год выпуска:</th>
				<td></td>
			</tr>
		{__(if($m_soon_id == '')__}
			<tr>
				<th>Стоимость:</th>
				<td>
					<b>{__php::sprintf("%0.2f", ceil($price_cost * ((100 - $discount) * 0.01)))__} р. стоимость по предоплате</b><br/>
					{__price_cost__} р.<br/>
				</td>
			</tr>
		{__if)__}
		</table>
		{__(if($m_soon_id>0)__}
			Скоро в продаже
		{__else__}
		<div id="add2cartwrap" class="add2cartwrap"> <div title="Add to cart" is="add2cart" class="add2cart" cid="{__id__}">Заказать: <img src="/ico/silk/cart_add.png" border="0" hspace="5"/></div></div>
		{__if)__}
	</div>
{__apply)__}
{__pager__}
</div>
