<div class="catalogue_ui" id="catalogue_ui">
{__pager__}
{__(apply(/records)__}
	<div class="item">
		<h1 class="itemheader" id="itemheader"><a class="itemlink" id="itemlink" href="item_{__id__}.html">{__str_group__} &laquo;{__title__}&raquo;</a></h1>
		<a href="javascript: void(0)" title="Add to cart" class="add2cart" cid="{__id__}"><img src="/ico/silk/cart_add.png" align="right" border="0" hspace="5"/></a>
		<table cellpadding="0" cellspacing="0" id="iteminfo" class="iteminfo">
			<tr>
				<th>Тип:</th>
				<td>{__str_type__}</td>
			</tr>
			<tr>
				<th>Коллекция:</th>
				<td>{__str_collection__}</td>
			</tr>
			<!--tr>
				<th>Стиль:</th>
				<td>{__str_style__}</td>
			</tr-->
			<tr>
				<th>Год выпуска:</th>
				<td></td>
			</tr>
			<tr>
				<th>Стоимость:</th>
				<td>
					<b>{__php::sprintf("%0.2f", $price_cost * ((100 - $discount) * 0.01))__} р. стоимость по предоплате</b><br/>
					{__price_cost__} р.<br/>
				</td>
			</tr>
		</table>
	</div>
{__apply)__}
{__pager__}
</div>
