<div class="catalogue_ui">
{__(apply(/records)__}
	<div class="item" id="item">
		<h1 class="itemheader" id="itemheader"><a id="itemlink" class="itemlink" href="item_{__id__}.html">{__str_group__} &laquo;{__title__}&raquo;</a></h1>
		<table cellpadding="0" cellspacing="0" id="iteminfo" class="iteminfo">
			<tr>
				<th>Тип:</th>
				<td>
				{__(if(/args/_stype_id > 0)__}
					{__str_type__}
				{__else__}
					<a href="type/{__type_id__}/">{__str_type__}</a>
				{__if)__}
				</td>
			</tr>
			<tr>
				<th>Гуппа:</th>
				<td>
				{__(if(/args/_sgroup_id > 0)__}
					{__str_group__}
				{__else__}
					<a href="group/{__group_id__}/">{__str_group__}</a>
				{__if)__}
				</td>
			</tr>
			<tr>
				<th>Коллекция:</th>
				<td>
				{__(if(/args/_scollection_id > 0)__}
					{__str_collection__}
				{__else__}
					<a href="label/{__collection_id__}/">{__str_collection__}</a>
				{__if)__}
				</td>
			</tr>
			<tr>
				<th>Стили:</th>
				<td>{__(apply(/styles)__}
					{__name__}{__(if(@position < @last)__}<span>, </span>{__if)__}
				{__apply)__}</td>
			</tr>
			<tr>
				<th>Описание:</th>
				<td>{__description__}</td>
			</tr>
			<tr>
				<th>Год выпуска:</th>
				<td></td>
			</tr>
			<tr>
				<th>Стоимость:</th>
				<td>
					<b>{__php::sprintf("%0.2f", ceil($price_cost * ((100 - $discount) * 0.01)))__} р. стоимость по предоплате</b><br/>
					{__price_cost__} р.<br/>
				</td>
			</tr>
		</table>
		<div id="add2cartwrap" class="add2cartwrap"><div title="Add to cart" is="add2cart" class="add2cart" cid="{__id__}">Заказать: <img src="/ico/silk/cart_add.png" border="0"  hspace="5"/></div></div>
	</div>
{__apply)__}
</div>
