<div class="catalogue_ui">
	<a href="javascript:history.back()">&laquo;назад</a>
{__(apply(/records)__}
	<div class="item" id="item">
		<h1 class="itemheader" id="itemheader"><a id="itemlink" class="itemlink" href="item_{__id__}.html">{__str_group__} &laquo;{__title__}&raquo;</a></h1><br>
		<div id="add2selwrap" class="add2selwrap"> <div title="Add to selected" is="add2sel" class="add2sel" cid="{__id__}">В избранное</div></div>
		<div class="item_picture" id="item_picture">
		{__(if($picture)__}<img src="{__/storage__}{__picture__}" hspace="0" vspace="0" border="0" title="{__title__}"/>{__if)__}
		</div>

		<table cellpadding="0" cellspacing="0" id="iteminfo" class="iteminfo">
			<tr>
				<th>Тип:</th>
				<td>
				{__(if(/args/_stype_id > 0)__}
					{__str_type__}
				{__else__}
					<a href="type/{__type_id__}/">{__str_type__}</a>
				{__if)__}
				</td>
			</tr>
			<tr>
				<th>Гуппа:</th>
				<td>
				{__(if(/args/_sgroup_id > 0)__}
					{__str_group__}
				{__else__}
					<a href="group/{__group_id__}/">{__str_group__}</a>
				{__if)__}
				</td>
			</tr>
			<tr>
				<th>Коллекция:</th>
				<td>
				{__(if(/args/_scollection_id > 0)__}
					{__str_collection__}
				{__else__}
					<a href="label/{__collection_id__}/">{__str_collection__}</a>
				{__if)__}
				</td>
			</tr>
			<tr>
				<th>Стили:</th>
				<td>{__(apply(/styles)__}
					{__name__}{__(if(@position < @last)__}<span>, </span>{__if)__}
				{__apply)__}</td>
			</tr>
		</table>
		<table cellpadding="0" cellspacing="0" id="iteminfo" class="iteminfo" width="100%">
			<tr>
				<th width="50">Описание:</th>
				<td>{__php::nl2br($description)__}</td>
			</tr>
			<tr>
				<th>Год выпуска:</th>
				<td></td>
			</tr>

		{__(if($m_soon_id == '')__}
			<tr>
				<th>Стоимость:</th>
				<td>
					<b>{__php::sprintf("%0.2f", ceil($price_cost * ((100 - $discount) * 0.01)))__} р. стоимость по предоплате</b><br/>
					{__price_cost__} р.<br/>
				</td>
			</tr>
		{__if)__}
		</table>
		{__(if($m_soon_id>0)__}
			Скоро в продаже
		{__else__}
		<div id="add2cartwrap" class="add2cartwrap"><div title="Add to cart" is="add2cart" class="add2cart" cid="{__id__}">Заказать: <img src="/ico/silk/cart_add.png" border="0" hspace="5"/></div></div>
		{__if)__}
	</div>
{__apply)__}

{__(if(/related)__}
<div class="related_items_header" id="related_items_header">С этим товаром покупают:</div>

{__(apply(/related)__}
<div id="related_item" class="related_item">
		{__(if($preview)__}
		<div class="item_preview" id="item_preview"><a href="/products/item_{__id__}.html"><img src="{__/storage__}{__preview__}" title="{__title__}"/></a></div>
		{__if)__}
<a class="group" id="group"  href="/products/group/{__group_id__}/">{__str_group__}</a><br>
<a class="item" id="item"  href="/products/item_{__id__}.html">{__title__}</a><br>
{__type__}<br><br>
		<div id="add2cartwrap" class="add2cartwrap"><div title="Add to cart" is="add2cart" class="add2cart" cid="{__id__}">Заказать: <img src="/ico/silk/cart_add.png" border="0"  hspace="5"/></div></div>
</div>
{__apply)__}
{__if)__}

{__(if(/seealso)__}
<div class="related_items_header" id="related_items_header">Смотри таже:</div>

{__(apply(/seealso)__}
<div id="related_item" class="related_item">
		{__(if($preview)__}
		<div class="item_preview" id="item_preview"><a href="/products/item_{__id__}.html"><img src="{__/storage__}{__preview__}" title="{__title__}"/></a></div>
		{__if)__}
<a class="group" id="group"  href="/products/group/{__group_id__}/">{__str_group__}</a><br>
<a class="item" id="item"  href="/products/item_{__id__}.html">{__title__}</a><br>
{__type__}<br><br>
		<div id="add2cartwrap" class="add2cartwrap"><div title="Add to cart" is="add2cart" class="add2cart" cid="{__id__}">Заказать: <img src="/ico/silk/cart_add.png" border="0"  hspace="5"/></div></div>
</div>
{__apply)__}

{__if)__}
	<a href="javascript:history.back()">&laquo;назад</a>
</div>
