.market_latest{
font-family:Verdana;
font-size:11px;
margin-bottom:20px;
border:1px dotted;
height:100%;
padding:10px;
}
#market_latest h1{
font-size:12px;
}

.market_latest_short{
font-family:Verdana;
font-size:11px;
margin-bottom:20px;
border:1px dotted;
height:100%;
padding:10px;
}

#market_latest_short h1{
font-size:12px;
}

.m_latest_product{
margin-bottom:12px;
}

#market_latest_short .m_recom_product{
padding-bottom:12px;
}

#m_latest_product .item{
font-size:10px;
font-weight:bold;
color:#666;
border-bottom:1px dashed;
}

#m_latest_product .group{
font-size:9px;
color:#666;
border-bottom:1px dashed;
}


#m_latest_product .item_preview{
border:1px solid #666;
width:100px;
margin-top:25px;
padding:0px;
}

#m_latest_product #item_preview img{
padding:0px;
margin:0px;
border:0px;
width:100px;
height:100px;
display:block;
}
