<div id="market_latest_short" class="market_latest_short">
<h1>Новинки короткий блок</h1>
<a href="">овинка1</a><br>
картинка к новинке<br>
и так 10 раз<br><br>
<a href="">овинка1</a><br>
картинка к новинке<br>
и так 10 раз<br><br>
<a href="">овинка1</a><br>
картинка к новинке<br>
и так 10 раз<br><br>
<a href="">овинка1</a><br>
картинка к новинке<br>
и так 10 раз<br><br>
<a href="">овинка1</a><br>
картинка к новинке<br>
и так 10 раз<br><br>
<a href="">овинка1</a><br>
картинка к новинке<br>
и так 10 раз<br><br>
<a href="">овинка1</a><br>
картинка к новинке<br>
и так 10 раз<br><br>
<a href="">овинка1</a><br>
картинка к новинке<br>
и так 10 раз<br><br>
</div>
