.market_recomendations{
font-family:Verdana;
font-size:11px;
margin-top:20px;
border:1px dotted;
height:100%;
padding:10px;
}
#market_recomendations h1{
font-size:12px;
}

.market_recomendations_short{
font-family:Verdana;
font-size:11px;
margin-top:20px;
border:1px dotted;
height:100%;
padding:10px;
}
#market_recomendations_short h1{
font-size:12px;
}
