.market_recomendations{
font-family:Verdana;
font-size:11px;
margin-top:20px;
border:1px dotted;
height:100%;
padding:10px;
}

#market_recomendations h1{
font-size:12px;
}

.market_recomendations_short{
font-family:Verdana;
font-size:11px;
margin-top:20px;
border:1px dotted;
height:100%;
padding:10px;
}

#market_recomendations_short h1{
font-size:12px;
}

#market_recomendations_short .m_recom_product{
margin-bottom:12px;
}

#m_recom_product .item{
font-size:10px;
font-weight:bold;
color:#666;
border-bottom:1px dashed;
}

#m_recom_product .group{
font-size:9px;
color:#666;
border-bottom:1px dashed;
}
