<div id="market_recomendations_short" class="market_recomendations_short">
<h1>Рекомендовано</h1>
{__(apply(/records)__}
<div class="m_recom_product" id="m_recom_product">
		<div class="item_preview" id="item_preview">
		{__(if($preview)__}<img src="{__/storage__}{__preview__}" title="{__title__}"/>{__if)__}
		</div>
<a class="item" href="/products/item_{__m_recomend_product_id__}.html">{__p_title__}</a><br>
<a class="group" href="/products/group/{__p_group_id__}/">{__p_group__}</a>
</div>
{__apply)__}
</div>
