<div class="market_viewed" id="market_viewed">
<h1>Недавно смотрели</h1>
<table width="100%" id="market_viewed_table" class="market_viewed_table" cellspacing="0" >
{__(apply(/records)__}
	<tr id="market_viewed_record_{__id__}" class="market_viewed_record_{__id__}">
		<td class="market_viewed_cell" id="market_viewed_cell">

	<div class="item" id="item">
		<div class="item_picture" id="item_picture">
		{__(if($picture)__}<img src="{__/storage__}{__preview__}" hspace="0" vspace="0" border="0" title="{__title__}"/>{__if)__}
		</div>
		<div class="itemheader" id="itemheader"><a id="itemlink" class="itemlink" href="item_{__id__}.html">{__str_group__} &laquo;{__title__}&raquo;</a></div>
	</div>
	
	</td>
	</tr>
{__apply)__}
</table>
{__(if(count($records) == 0)__}
Список пуст
{__if)__}

</div>

